/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fcf59b; /* Color de fondo */
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Título */
h1 {
  color: #c42311;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Formulario */
form {
  background-color: #cad17a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 2px solid #f2502c;
  border-radius: 5px;
}

button {
  background-color: #f2502c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c42311;
}

/* Contenedor de imágenes */
#imageContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Caja individual de imagen */
.image-box {
  background-color: #91c494;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-box img {
  max-width: 100%;
  border-radius: 5px;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  h1 {
      font-size: 1.5rem;
  }

  form {
      padding: 15px;
  }

  button {
      font-size: 0.9rem;
      padding: 8px 12px;
  }
}
