/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #F1C40F;
    color: #444444;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color:  #FFE066;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}
.container-img{
    background-image: url('https://i.pinimg.com/564x/58/03/86/58038609b7e45f5c8d0aafb3f9b93f63.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 10%;
}
h1 {
    font-size: 2.2em;
    color: #FFB300;
    margin-bottom: 10px;
    text-shadow: 7px 4px 5px rgb(236, 93, 191);
}

p {
    font-size: 1.2em;
    color: #996515;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.4em;
    color: #555555;
}

#countdown div {
    background-color:  #FAD7A0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
}

#countdown span {
    font-weight: bold;
    font-size: 152%;
    color: #FF8F00;
}

